<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/header.css">
    <link rel="stylesheet" href="/src/styles/nav.css">
    <link rel="stylesheet" href="/src/styles/index.css">
    <script src="/src/scripts/navCollapse.js" defer></script>
    <script src="/src/scripts/navHidden.js" defer></script>
    <title>spice your low</title>
</head>
<body>
 <header>
    <img src="/src/images/icons/popcorn.png">
    <article>ACE MOVIES</article>
    <div id="search">
        <input type="text" name="" id="" placeholder="search for a movie" maxlength="26">
        <button>
        </button>
    </div>
    <button></button>
 </header>
 <button class="navShow" id="navShow"><img src="" alt=""></button>
 <section class="nav" id ="nav">
    
    <ul>
        <li><button></button><article class="fa">HOME</article></li>
        <li><button></button><article class="fa">GENRES</article></li>
        <li><button></button><article class="fa">TOP</article></li>
        <li><button></button><article class="fa">RELEASES</article></li>
        <li><button></button><article class="fa">ABOUT</article></li>
    </ul>
    <ul>
        <li><button></button><article class="fa">COFFEE</article></li>
        <li><button></button><article class="fa">SETTINGS</article></li>
    </ul>

    <button class="depth" id="deeply"></button>
 </section>
 <section id="content">
    <article>popcorn</article>
    <section class="footer">
    </section>
 </section>
 
</body>
</html>